/* Variables_generales */
$altura_pie_de_pagina: 90%;
$ancho_cards_card: 46%;
$altura_cards_card: 200px;
$ancho_cards_card_img: 100px;
$altura_cards_card_img: 100px;
$ancho_contenido_texto_card: 60%;
$ancho_media_900px_cards_card: 90%; 
$altura_media_500px_cards_card: 450px;
$ancho_media_500px_cards_card_img: 90px;
$altura_media_500px_cards_card_img: 90px;
